/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 99, 71);
    color: #333;
    line-height: 1.6;
}

/* Menu */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #ff6347;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.site-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

#menu-toggle {
    display: none;
}

/* Estilos do menu */
#nav {
    display: flex;
    list-style: none;
}

#nav li {
    margin-right: 20px;
}

#nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Estilos do dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ff6347;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: white;
    padding: 12px;
    text-align: center;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #ff4500;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    #nav {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ff6347;
    }

    #menu-toggle:checked + .menu-icon + #nav {
        display: flex;
    }

    #nav li {
        margin: 10px 0;
    }
}
