* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos do corpo */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 99, 71);
    color: #333;
    line-height: 1.6;
}

/* Layout principal do conteúdo */
.conteudo {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Ajuste aqui */
    gap: 20px;
    padding: 40px;
}

/* Formulário */
.form-container {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Limita o tamanho do formulário */
    width: 100%; /* Garante que o formulário ocupe 100% da largura disponível */
}

/* Imagens laterais */
.image-container {
    flex: 0 0 300px;
}

.img-esquerda, .img-direita {
    max-width: 100%;
    border-radius: 10px;
}

/* Contêiner principal do menu */
nav {
    display: flex;
    align-items: center;
    padding: 15px 0;
    width: 100%;
}

/* Contêiner da logo e nome do site */
.logo-container {
    display: flex;
    align-items: center;
    margin-right: auto;
}

/* Estilo da logo */
.logo {
    height: 40px;
    margin-right: 10px;
}

/* Estilo do nome do site */
.site-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* Ajustar o menu para se alinhar à direita */
#nav {
    list-style: none;
    display: flex;
}
#nav li {
    margin-right: 20px;
    position: relative;
}
#nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

/* Menu Sanduíche */
.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* Ajustes para o dropdown */
.dropdown-content {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    width: 150px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Para garantir que funcione em dispositivos móveis */
.dropdown-content a {
    color: white;
    padding: 16px;
    width: 100%;
    text-align: center;
}

button:hover {
    background-color: rgb(34, 139, 34);
}

/* Estilos para as caixas de seleção */
.checkbox-group {
    margin: 10px 0;
}

/* Estilos das caixas de seleção */
.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

/* Estilos do rodapé (se você planeja adicionar um) */
footer {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    color: #333;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsividade para melhorar a visualização em dispositivos móveis */
@media (max-width: 768px) {
    /* Ajustes de espaçamento para telas menores */
    .conteudo {
        padding: 20px;
    }

    /* Tamanho do título no mobile */
    h1 {
        font-size: 20px;
    }
}
